{{> welcome-menu active="home"}}

<section class="hero is-fullheight-with-navbar has-background-white">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img src="/images/placemark.png">
      <h1 class="title is-1 has-text-danger">
        Welcome to Placemark
      </h1>
      <h2 class="subtitle is-4 has-text-danger">
        Organize and Explore Your Favorite Locations
      </h2>

      <div class="buttons is-centered">
        <a href="/signup" class="button is-light is-large">Sign Up</a>
        <a href="/login" class="button is-white is-large">Log In</a>
      </div>
    </div>
  </div>
</section>
